@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');

body{
	margin: 0;
	padding: 0;
	background-color: #000;
}

h2{
	font-family: 'Mountains of Christmas', cursive;
	
}